{% extends "layout.html" %}
{% block content %}
  <form action="/appoinment" method="post">

    <div class="container">
        <label for="uname"><b>Name</b></label>
      <input type="text" placeholder="Enter Name" name="name" >

      <label for="email"><b>Doctor Name</b></label>
      <input type="text" placeholder="Doctor Name" name="doctor" >

      <label for="psw"><b>Date Time</b></label>
      <input type="text" placeholder="Date Time" name="date_time" >

        <label for="gender"><b>Hospital</b></label>
        <input type="text" placeholder="Hospital" name="hospital" />

        <button type="submit">Submit</button>


    </div>

  </form>
{% endblock content %}
